<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form [formGroup]="emailLoginDto" (ngSubmit)="userLogin()"
                class="form-signin" novalidate>
            <div class="form-group p-2">
              <input type="email" id="email"
                     formControlName="email" placeholder="E-Mail"
                     autofocus class="form-control">
            </div>
            <div class="form-group p-2">
              <input type="password" id="password"
                     formControlName="password" placeholder="Password"
                     autofocus class="form-control">
            </div>
            <button [disabled]="!emailLoginDto.valid"
                    class="btn btn-lg btn-primary btn-block text-uppercase"
                    type="submit">Sign In
            </button>
            <hr class="my-4">
            <p class="lead text-center">
              <a (click)="openDialog(forgotPass)" class="nav-link" mat-button>Forgot Your Password?</a>
            </p>
            <hr class="my-2">
            <button
              class="btn btn-lg btn-google btn-block text-uppercase"
              type="button"><i class="fab fa-google mr-2"></i>
              Sign In with Google
            </button>
            <button
              class="btn btn-lg btn-facebook btn-block text-uppercase"
              type="button"><i class="fab fa-facebook-f mr-2"></i>
              Sign In with Facebook
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #invalidCredentials>
  <app-invalid-credentials [modalRef]="parentModalRef"></app-invalid-credentials>
</ng-template>

<ng-template #forgotPass>
  <h2 mat-dialog-title>
    Enter Your Email to Send Forgot Password Request
  </h2>
  <mat-dialog-content class="mat-typography" style="width: 500px; height: auto">
    <div *ngIf="!isSent" class="row mb-1 mt-1 justify-content-center">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" name="email" [(ngModel)]="email" matInput
               #emailField="ngModel" ngvemail>
        <p class="text-danger" *ngIf="emailField.dirty && emailField.errors?.email">
          Invalid Email, Please provide a valid email!
        </p>
      </mat-form-field>
    </div>
    <div *ngIf="!isSent" class="row mb-1 mt-1 justify-content-center">
      <button (click)="sendEmailForgotPassword()" [disabled]="!email" mat-raised-button color="primary"
              style="width: 150px">
        Send Request
      </button>
    </div>
    <div *ngIf="message && isSent" class="row mb-1 mt-1 justify-content-center">
      <p class="lead text-warning">
        {{message}}
      </p>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button style="width: 120px" (click)="hideDialog()"
            class="btn btn-outline-warning pull-right">
      Close
    </button>
  </mat-dialog-actions>
  <ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#9344d4d"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">
      Sending Request...
    </p>
  </ngx-spinner>
</ng-template>
