<div class="container my-4 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-7 mid-point">
      <div class="row justify-content-around">
        <h3 class="text-white" style="font-family: 'Anton', sans-serif">
          You're in the last step to verify your email
        </h3>
      </div>
      <div class="row justify-content-around mt-2">
        <h3 class="text-white" style="font-family: 'Anton', sans-serif">
          Just click the following link to finish this process
        </h3>
      </div>
      <div class="row mt-2 justify-content-center">
        <a (click)="verifyEmail()" class="btn btn-link text-white">
          Click Here
        </a>
      </div>
    </div>
  </div>
</div>
