<div class="container my-5 mb-2">
  <div class="row m-3 justify-content-center">
    <div class="col-md-9">
      <form [formGroup]="resetPasswordDto" novalidate>
        <div class="row mt-1 mb-1">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email"
                   [ngClass]="{ 'is-invalid': controls.email.touched && controls.email.dirty && controls.email.errors }">
            <div *ngIf="controls.email.errors" class="invalid-feedback">
              <div *ngIf="controls.email.errors.required ">Email is required</div>
              <div *ngIf="controls.email.errors.email">Email must be a valid email address</div>
            </div>
          </mat-form-field>

        </div>
        <div class="row mt-1 mb-1">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Current Password (Optional Field)</mat-label>
            <input type="password" matInput formControlName="currentPassword">
          </mat-form-field>
        </div>
        <div class="row mt-1 mb-1">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>New Password</mat-label>
            <input type="password" [type]="passwordHide ? 'password' : 'text'" matInput formControlName="newPassword"
                   [ngClass]="{ 'is-invalid': submitted && controls.newPassword.errors }">
            <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="passwordHide">
              <mat-icon>{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div *ngIf=" controls.newPassword.errors" class="invalid-feedback">
              <div *ngIf="controls.newPassword.errors.required">Password is required</div>
              <div *ngIf="controls.newPassword.errors.minlength">Password must be at least 6 characters</div>
            </div>
          </mat-form-field>

        </div>
        <div class="row mt-1 mb-1">
          <mat-form-field appearance="fill" class="example-full-width">
            <mat-label>Confirm Password</mat-label>
            <input type="password" [type]="confirmHide ? 'password' : 'text'" matInput formControlName="confirmPassword"
                   [ngClass]="{ 'is-invalid': submitted && controls.confirmPassword.errors }">
            <button mat-icon-button matSuffix (click)="confirmHide = !confirmHide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="confirmHide">
              <mat-icon>{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div *ngIf="controls.confirmPassword.errors" class="invalid-feedback">
              <div *ngIf="controls.confirmPassword.errors.required">Confirm Password is required</div>
              <div *ngIf="controls.confirmPassword.errors.mustMatch">Passwords must match</div>
            </div>
          </mat-form-field>

        </div>
        <div class="row mt-1 mb-1 justify-content-end">
          <button type="button" (click)="resetWithNewPassword()" class="btn btn-outline-success pull-right"
                  style="width:auto">
            Reset Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
