<mat-toolbar class="example-header text-white">
  <mat-toolbar-row>
    <a class="nav-link text-white" mat-button routerLink="/">
      Music Land
    </a>
    <div class="col-md-6 justify-content-start">
      <a class="nav-link text-white" mat-button routerLink="/">
        Contact US <i class="far fa-envelope"></i>
      </a>
      <a class="nav-link text-white" mat-button routerLink="/singers/all-singers">
        Singers
      </a>
      <a class="nav-link text-white" mat-button routerLink="/songs/all-songs">
        Songs
      </a>

      <a class="nav-link text-white" mat-button routerLink="/musicians/all-musicians">
        Musicians
      </a>
      <a class="nav-link text-white" mat-button routerLink="/musics/all-musics">
        Music
      </a>
    </div>

    <div class="col-md-6 justify-content-end mr-2">
      <a *ngIf="authService.isLoggedIn()" class="nav-link text-white" [mat-menu-trigger-for]="userMenu" mat-button>
        {{Username}}
      </a>
      <mat-menu #userMenu>
        <button mat-menu-item routerLink="/dashboard/profile">
          <span>Profile</span>
          <i class="fas fa-user"></i>
        </button>
        <button mat-menu-item routerLink="/dashboard/settings">
          <span>Settings</span>
          <i class="fas fa-user-cog"></i>
        </button>
        <button (click)=" sidenav.close();logout()" mat-menu-item routerLink="/dashboard/profile">
          <span>Logout</span>
          <i class="fas fa-user"></i>
        </button>
      </mat-menu>

      <a *ngIf="authService.isLoggedIn()" class="nav-link" routerLink="/dashboard/favorite-list" mat-button>
        Favorite List <i class="material-icons">playlist_play</i>
      </a>
      <a *ngIf="authService.isLoggedIn()" class="nav-link"
         [mat-menu-trigger-for]="playlistMenu" mat-button>
        Playlists <i class="material-icons">playlist_play</i>
      </a>
      <mat-menu #playlistMenu>
        <button mat-menu-item routerLink="/playlists/user-playlists">
          <span>All Playlists</span>
        </button>
      </mat-menu>
      <button (click)="helperService.openModal(chatTemplate)" *ngIf="authService.isLoggedIn()" mat-raised-button
              color="accent">
        Join Chat Rooms
      </button>
      <ng-template #chatTemplate>
        <div class="modal-header">
          <h4 class="modal-title pull-left">
            Join Fans Chat Right Now
          </h4>
          <button aria-label="Close" class="close pull-left">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <h1 style="font-family: 'Anton', sans-serif">
            Join As <span class="text-primary">{{Username}}
          </span>
          </h1>
          <div class="modal-footer">
            <a (click)="helperService.hideModal()" class="btn btn-primary" routerLink="/rooms/all-rooms">
              Continue
            </a>
            <button class="btn btn-danger pull-right" (click)="helperService.hideModal()">Close</button>
          </div>
        </div>

      </ng-template>
      <a (click)="sidenav.toggle()" *ngIf="authService.isLoggedIn()" mat-button style="font-size: 23px;">
        <i style="font-size: 23px" class="far fa-bell" [matBadge]="NotificationsCount"
           matBadgeOverlap="false" matBadgePosition="above after"
           matBadgeSize="medium" matBadgeColor="warn">
        </i>
      </a>
      <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/auth/login" routerLinkActive="active"
         mat-button>
        Login <i class="fas fa-sign-in-alt"></i>
      </a>
      <a *ngIf="!authService.isLoggedIn()" class="nav-link" routerLink="/auth/register" routerLinkActive="active"
         mat-button>
        Register <i class="far fa-user-circle"></i>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<ng-container>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side"
                 class="example-sidenav justify-content-center text-center"
                 [fixedInViewport]="false">
      <app-notifications *ngIf="authService.isLoggedIn()"></app-notifications>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
